body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
button {
  background-color: gray;
  color: white;
  width: 50px;
  height: 50px;
  margin: 1px;
}
.kbrow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#header {
  font-size: 50px;
  text-align: center;
}
#board {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1px;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 1px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 30px;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}
.tile.flip {
  transform: rotateX(180deg);
}
.tile[data-state="green"] {
  background-color: green;
  color: white;
}
.tile[data-state="yellow"] {
  background-color: gold;
  color: white;
}
.tile[data-state="gray"] {
  background-color: gray;
  color: white;
}
button[data-state="green"] {
  background-color: green;
  color: white;
}
button[data-state="yellow"] {
  background-color: gold;
  color: black;
}
button[data-state="gray"] {
  background-color: gray;
  color: white;
}

#button-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#button-bar button {
  color: black;
  border-radius: 5px;
  background-color: #ddd;
}
#instructions {
  position: fixed;
  background: white;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.hidden {
  display: none;
}
.tile span {
  display: block;
  backface-visibility: hidden;
}
.tile.flip span {
  transform: rotateX(180deg);
}
