body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
button {
  background-color: gray;
  color: white;
  width: 50px;
  height: 50px;
  margin: 1px;
  
}
.kbrow{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
}
#header {
  font-size: 50px;
  text-align: center;
}
#board{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1px;
    
}
.tile {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 1px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px;
}
.tile[data-state="green"]  { background-color: #6aaa64; color: white; }
.tile[data-state="yellow"] { background-color: #c9b458; color: white; }
.tile[data-state="gray"]   { background-color: #787c7e; color: white; }

#top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-bar button {
    color: black;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
  }